<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title>SmartCity - Lock Screen</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/Assets/styles/bootstrap-4.1.2/bootstrap.min.css}">

  <!-- Fontawesome CSS -->
  <link rel="stylesheet" th:href="@{/Assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css}">

  <!-- Main CSS -->
  <link rel="stylesheet" th:href="@{/Assets/styles/registration.css}">
  <!-- Favicon -->
  <link rel="shortcut icon" th:href="@{/Assets/favicon.png}" type="image/x-icon">
</head>

<body>

<!-- Main Wrapper -->
<div class="main-wrapper login-body">
  <div class="login-wrapper">
    <div class="container">
      <div class="loginbox">
        <div class="login-left">
          <a href="/">
            <img class="img-fluid" th:src="@{/Assets/SmartCityLogo.png}" alt="SmartCity">
          </a>
        </div>
        <div class="login-right">
          <div class="login-right-wrap">
            <div class="lock-user">
              <img class="rounded-circle" th:src="@{/Assets/images/avatar.png}" alt="User Image">
              <h4>[[${appUser.firstName}]] [[${appUser.lastName}]]</h4>
            </div>

            <!-- Form -->
            <form action="/logback">
              <div class="form-group">
                <input class="form-control" type="password" placeholder="Password" name="password">
              </div>
              <div th:if="${param.error}" class="alert alert-danger">
                Password is incorrect.</div>
              <div class="form-group mb-0">
                <button class="btn btn-primary btn-block" type="submit">Enter</button>
              </div>
            </form>
            <!-- /Form -->

            <div class="text-center dont-have">Sign in as a different user? <a href="/login">Login</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script th:src="@{/Assets/js/jquery-3.2.1.min.js}"></script>

</body>

</html>