<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
<div th:if="${email != null}">
  <p>first Name, [[${first_name}]]!</p>
  <p>last Name, [[${last_name}]]!</p>
  <p>email, [[${email}]]!</p>
  <p>password, [[${password}]]!</p>
</div>
<a href="/logout?logout" class="nav-link">Log out</a>
</body>
</html>