<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<h1>Welcome to out smart city</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>location</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="info : ${infos}">
        <tr>
            <td th:text="${info.id}"></td>
            <td th:text="${info.name}"></td>
            <td th:text="${info.location}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>