<div class="cta">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="cta_content d-flex flex-lg-row flex-column align-items-center justify-content-lg-between justify-content-center magic_fade_in">
          <div class="cta_title">Start your journey with us now!</div>
          <div class="cta_price"><span>from</span>$0.00<span>/month</span></div>
          <div class="cta_button"><a href="#">Start Now</a></div>
        </div>
      </div>
    </div>
  </div>
</div>