<div class="domain_search">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="domain_search_form_container d-flex flex-column align-items-center justify-content-center">
          <form action="#" id="domain_search_form" class="domain_search_form d-flex flex-md-row flex-column align-items-center justify-content-start">
            <div class="d-flex flex-row align-items-center justify-content-start">
              <input type="text" class="domain_search_input" placeholder="What are you looking for" required="required">
              <div class="domain_search_dropdown d-flex flex-row align-items-center justify-content-start">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                <div class="domain_search_selected">School</div>
                <ul>
                  <li>School</li>
                  <li>Hospitals</li>
                  <li>Restaurant</li>
                  <li>Hotels</li>
                </ul>
              </div>
            </div>
            <button class="domain_search_button d-flex flex-row align-items-center justify-content-center"><img th:src="@{/Assets/images/search.png}" alt="">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>