<footer class="footer magic_fade_in" id="footer">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 footer_col magic_fade_in">
        <div class="footer_about">
          <div class="footer_logo">Smart<span>City</span></div>
          <div class="copyright">
            <script>
              document.write(new Date().getFullYear());
            </script> Made with Love <i class="fa fa-heart-o" aria-hidden="true"></i>
          </div>
          <div class="footer_text">
            <p>SmartCity simplifies life for residents by providing an easy-to-use platform that helps them find what they're looking for. With personalized recommendations and advanced search capabilities, discovering new opportunities
              in the city has never been easier.</p>
          </div>
          <div class="contact_container">
            <form action="#" id="contact_form" class="contact_form">
              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="contact_input" placeholder="Your Name" required="required">
                </div>
                <div class="col-md-6">
                  <input type="email" class="contact_input" placeholder="Your e-mail" required="required">
                </div>
              </div>
              <div>
                <textarea class="contact_input contact_textarea" placeholder="Message" required="required"></textarea>
              </div>
              <button class="contact_button">Send</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 footer_col">
        <div class="footer_links">
          <div class="row">
            <div class="col-sm-6 footer_list_col magic_fade_in">
              <div class="footer_list_container">
                <div class="footer_list_title">Home</div>
                <ul class="footer_list">
                  <li><a href="#">About the city</a></li>
                  <li><a href="#">Latest news and updates</a></li>
                  <li><a href="#">City demographics</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 footer_list_col magic_fade_in">
              <div class="footer_list_container">
                <div class="footer_list_title">SmartCity</div>
                <ul class="footer_list">
                  <li><a href="#">Transportation solutions</a></li>
                  <li><a href="#">Education Solution</a></li>
                  <li><a href="#">Jobs Solution</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 footer_list_col magic_fade_in">
              <div class="footer_list_container">
                <div class="footer_list_title">About Us</div>
                <ul class="footer_list">
                  <li><a href="#">Mission and values</a></li>
                  <li><a href="#">Our team</a></li>
                  <li><a href="#">Testimonials and reviews</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 footer_list_col magic_fade_in">
              <div class="footer_list_container">
                <div class="footer_list_title">Support</div>
                <ul class="footer_list">
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms and Conditions</a></li>
                  <li><a href="#">FAQ</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>